.dataRow {
  flex: auto;
  display: inline-flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
  display: flex;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.favorites {
  /* flex: auto; */
  /* margin: auto; */
  /* align-items: right; */
  /* right: 150px; */
  position: relative;
  right: 400px;
}
