#logo,
img {
  width: 120px;
  height: auto;
  background: black;
}
.card {
  margin: 10px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s, box-shadow 0.3s;
}

nav.scrolled {
  background-color: transparent; /* Change to your desired color */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
